<div id="404content" class="text-center mt-4">
<p class="display-1 mb-4">404</p>
<h1 class="display-4 mb-3">Oops! Page Not Found</h1>
  <span class="lead">The page you're looking for might have been removed, had its name changed, or is temporarily unavailable.</span>
<form class="mt-4" method="get" action="/home">
  <button type="submit" class="btn btn-primary">Go Back Home</button>
</form>
</div>