<h1 class="heading mb-4">Gregory Thompson Transaction Summary</h1>
<div id="summary">
  <div id="income">
    <div><h5>Total Income</h5></div>
    <div>${{income}}</div>
  </div>
  <div id="expenses">
    <div><h5>Total Expenses</h5></div>
    <div>${{expenses}}</div>
  </div>
  <div id="balance">
    <div><h5>Balance</h5></div>
    <div>${{balance}}</div>
  </div>
</div>